body {
    background-color: #ffd9e0;
}

h1 {
    font-family: Luckiest Guy;
    padding: 20px;
    text-align: center;
    color:#db95a8;
}

h2 {
    font-family: Luckiest Guy;
    padding: 20px;
    text-align: center;
    color: #9c5a6c;
}
h4 {
    text-align:center;
    font-family: Cherry Cream Soda;
}

p{
    font-family: Noto Serif Display;
    padding: 20px;
}
.bg-1{
 background-color: #edb9c3;
 padding-bottom: 40px;
}
.card {
    margin: 0 auto;
}

.aframe {
  width: 400px;
  height: 300px;
  justify-content: center;
  margin-left: 40px;
  border: 5px solid;
  border-color: #CFB2B2;
}

.bg-4{
    background-color: #fcdef3;
}

.bg-2{
    background-color: #fcdef3;
}
.bg-5{
    background-color:#ffffff;
    border: 2px;

}
.fixed-img {
  height: 200px;
  width: 100%;
}
