body {
    background-color: #ffd9e0;
}

h1 {
    font-family: Luckiest Guy;
    padding: 20px;
    text-align: center;
}

h2 {
    font-family: Luckiest Guy;
    padding: 20px;

}
h4 {
    text-align:center;
    font-family: Cherry Cream Soda;
}

p{
    font-family: Noto Serif Display;
    padding: 20px;
}
.bg-1{
 background-color: #edb9c3;
 padding-bottom: 40px;
}
.card {
    margin: 0 auto;
}

.aframe {
  width: 400px;
  height: 300px;
  justify-content: center;
  margin-left; 40px;
}

.bg-4{
background-color: #fcdef3;
}
